@font-face {
  font-family: Month;
  src: url(./FONTS/Montserrat-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./IMG/3.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  justify-content: center;
  margin: 2rem 8rem;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-family: Month;
  font-weight: 700px;
  margin: 10px;
  color: #fff;
}

.elements {
  background-color: #eeeeeecf;
  width: 25rem;
  border-radius: 10px;
  padding: 20px 30px 0 20px;
  font-family: Month;
  h3 {
    font-size: 16px;
  }
  .price {
    font-size: 16px;
    color: #f2994a;
  }
  .exprice {
    font-size: 12px;
    text-decoration: line-through;
    color: black;
  }
}

.right {
  display: flex;
  width: 100%;
  gap: 1rem;
  margin-bottom: 2rem;

  img {
    width: 9rem;
    border-radius: 10px;
    height: 10rem;
  }

  .buttons {
    display: flex;
    border: 1px solid #888888;
    justify-content: space-between;
    width: 6rem;
    border-radius: 5px;
    padding: 3px;
    margin-top: 2rem;

    i {
      border-radius: 5px;
      border: 2px solid #c8cceb;
      background-color: #c8cceb;
      padding: 5px;

      &:active {
        transform: scale(1.1);
      }
    }

    p {
      padding: 8px;
      font-size: 12px;
      font-weight: bold;
    }
  }
  .remove {
    color: white;
    background-color: brown;
    border: none;
    font-size: 12px;
    padding: 3px;
    border-radius: 2px;
    margin: 4px 0 17px;
    &:active {
      transform: scale(1.1);
    }
  }
  p {
    font-size: 14px;
    font-weight: bold;
  }
}

.shoes {
  margin-bottom: 3rem;
}

.top {
  padding: 5px 30px 10px 10px;
}
.top1 {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #bdbdbd;
  font-family: Month;
  padding-bottom: 10px;
}

.continue {
  margin: 1rem 10rem;
  width: 5rem;
  padding: 14px 0;
  border-radius: 10px;
  background-color: #f2994a;
  color: #fff;
  font-weight: 600;
  border: none;
}

@media screen and (max-width: 500px) {
  .elements {
    width: 20rem;
    margin: auto;

    img {
      width: 8rem;
      height: 9rem;
    }
  }
}
